.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.meta {
  grid-area: meta;
}

.sidebar {
  grid-area: sidebar;
}

.polydata {
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: polydata;
  background-color: antiquewhite;
  margin-inline: 20px;
  border-radius: 10px;
  height: 39vh;
  padding: 20px;
  box-shadow: -3px 3px 5px rgba(181, 179, 179, 0.707);
}

.other-cities {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: other-cities;
  background-color: aquamarine;
  margin-inline: 20px;
  border-radius: 10px;
  height: 34vh;
  padding: 20px;
  box-shadow: -3px 3px 5px rgba(181, 179, 179, 0.707);
}

.container {
  display: grid;
  grid-template-columns: 5% 45% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    " sidebar navbar navbar"
    " sidebar main  polydata"
    " sidebar main other-cities";
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .polydata {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 5% 21.5% 27% 25% 22.5%;
    grid-template-areas:
      " sidebar"
      "navbar "
      "  main"
      "  meta"
      " polydata"
      " other-cities";
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar main polydata "
      "sidebar meta other-cities";
  }

  .other-cities {
    margin-top: 10px;
    height: 35.5vh;
  }
}
