.city-temp {
  font-family: "instrument Sans";
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  border-radius: 10px;
  background: #fff9cf;
  background: linear-gradient(
    120deg,
    rgba(235, 225, 146, 0.177) 0%,
    rgba(246, 242, 207, 0.879) 100%
  );
  filter: drop-shadow(3px 5px 5px rgba(131, 131, 131, 0.702));
}

.city-temp-c {
  font-size: 1.5rem;
}

.city-name {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .city-temp {
    width: 120px;
    font-size: 10px;
  }
  .city-temp-c {
    font-size: 1.2rem;
  }

  .city-temp img {
    width: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .city-temp {
    width: 100px;
    padding: 10px;
  }

  .city-temp img {
    width: 40px;
  }
}
