.line-chart {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 600px;
  height: 230px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: -5px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.temp-trend {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  margin-left: 25px;
  color: black;
}

.temp-trend p:first-child {
  font-size: 15px;
  font-weight: 600;
}

.temp-trend p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
}
