.temp-line-chart {
  border: 1px solid rgb(0, 0, 0);
}

.line-chart {
  width: 600px;
  height: 230px;
  border-radius: 20px;
}

.temp-trend {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-left: 25px;

  color: black;
}

.temp-trend p:first-child {
  font-size: 15px;
  font-weight: 600;
}

.temp-trend p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
}
