table {
  margin-block: 20px;
  table-layout: fixed;
  width: 95%;
  /* border-collapse: separate; */
  border-spacing: 0;
}

tr {
  text-align: center;
}

td {
  padding: 8px;
  border: 0.5px solid rgba(167, 167, 167, 0.738);
}

th {
  border: 0.5px solid rgb(173, 170, 170);
  padding: 10px;
}
