.humidity-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.humid-line-chart {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  padding: 10px;
}

.humid-trend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
}

.humid-trend p:nth-child(2) {
  background-color: rgb(252, 204, 170);
  padding: 8px;
  border-radius: 50px;
}

@media only screen and (min-width: 768px) {
  .humid-line-chart {
    width: 380px;
  }
}
