body {
  font-family: "poppins";
  font-size: small;
  color: rgb(45, 44, 44);
}

.nav {
  background-color: #fbf4db;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  padding-inline: 30px;
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 30px;
  border-radius: 20px;
}

.search-form input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.search-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.location-info h3 {
  margin-left: 5px;
}

.notification-icon {
  display: flex;
  justify-items: center;
}

.user-info {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info h3 {
  margin-left: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.logo-img {
  width: 100px;
}

.theme-icon {
  background-color: #0e2148;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 5px;
}

.theme-icon button {
  background-color: #0e2148;
  cursor: pointer;
  border: none;
  color: white;
}
