.overday-container {
  font-family: "Instrument Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overday-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 229, 255);
  margin: 2px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  gap: 10px;
}

.overday-hour {
  align-self: self-start;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.overday-value {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
}

.overday-value span {
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}

.overday-symbol {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.overday-card img {
  width: 22px;
  align-self: flex-end;
  margin-right: 10px;
}
