.meta-dashboard {
  background-color: #eaede4;
  width: 44%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}

.meta-dashboard div {
  background-color: rgb(255, 255, 255);
  margin: 12px;
  width: 28%;
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}

.meta-dashboard div span {
  font-size: 15px;
  font-weight: bold;
}
