.meta-dashboard {
  background-color: #eaede4;
  height: 48vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-block: 20px;
  border-radius: 10px;
}

.meta-dashboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 18vh;
  width: 28%;
  margin: 10px;
  margin-block: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.meta-dashboard div span {
  font-size: 15px;
  font-weight: bold;
}
