@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Vina+Sans&display=swap");

.dashboard {
  font-family: "Instrument Sans";
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(14, 9, 58);
  height: 40vh;
  margin-inline: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #b5b3b3b4;
}

.datetime-temp-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-inline: 25px;
  gap: 200px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.temp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.temp-card img {
  margin-top: -12px;
  width: 60px;
}

.temp {
  margin-top: 5px;
  font-size: 1.7rem;
  height: 30px;
}

.datetime-card {
  line-height: 0.8;
  width: 150px;
  padding-block: 1px;
  margin-left: 20px;
  border-radius: 10px;
}

.datetime-card h2 {
  margin-bottom: -3px;
  font-size: 30px;
}

.minmax-temp {
  display: flex;
  justify-content: center;
  min-width: 130px;
  gap: 5px;
  margin-top: -15px;
  font-size: 12px;
  text-align: center;
}

.minmax-temp span {
  font-weight: bold;
}

.hourly-temp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
  gap: 10px;
  height: 60px;
}

.hourly-temp p {
  font-size: 10px;
}

.hourly-temp img {
  width: 50px;
  height: 50px;
}

.hourly-temp div {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
  border-radius: 10px;
  height: 120px;
  background: #2a7b9b;
  background: linear-gradient(
    194deg,
    rgba(246, 243, 209, 0.726) 0%,
    rgb(235, 226, 147) 100%
  );

  filter: drop-shadow(3px 5px 5px rgba(131, 131, 131, 0.702));
}

.feels {
  margin-left: 10px;
  font-size: 15px !important;
}

.feels span {
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .datetime-temp-container {
    gap: 120px;
  }

  .hourly-temp {
    justify-content: center;
  }

  .feels {
    margin-right: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .datetime-temp-container {
    gap: 250px;
  }

  .feels {
    margin-left: 50px;
  }
  .temp {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .dashboard {
    margin-inline: 0px;
  }

  .datetime-temp-container {
    gap: 150px;
  }

  .feels {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .datetime-temp-container {
    gap: 230px;
  }

  .feels {
    margin-left: 50px;
  }
}
