.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.forecasted-dash {
  grid-area: forecasted;
  height: 90vh;
}

.charts-dashboard {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar navbar navbar"
    " sidebar forecasted forecasted"
    " sidebar forecasted forecasted";
}
