table {
  margin-block: 20px;
  table-layout: fixed;
  width: 95%;
  /* border-collapse: separate; */
  border-spacing: 0;
}

thead {
  background-color: rgba(246, 242, 223, 0.661);
}

tr {
  border: 0.5px solid rgb(177, 168, 168);
  text-align: center;
}

td {
  background-color: white;
  padding: 8px;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

tr:last-child th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
