.sidebar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-block: 10px;
  height: 94.5%;
  margin-top: 15px;
  gap: 80px;
}

.logo-img {
  width: 80px;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.on-off {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
}
