.forecast-board {
  background-color: #eaede4;
  border-radius: 10px;
  margin-left: 20px;
}

.forecast-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-left: 30px;
  margin-right: 50px;
  padding-top: 20px;
}

.forecast-btns button:last-child {
  background-color: #070707;
  margin-left: auto;
  color: white;
}

.forecast-btns button {
  margin: 5px;
  padding: 5px;
  padding-inline: 10px;
  border: none;
  background-color: wheat;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
