.forecast-board {
  font-family: "Instrument Sans";
  border-radius: 10px;
  margin-inline: 20px;
  background-color: rgba(236, 235, 235, 0.379);
}

.forecast-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-left: 30px;
  padding-top: 20px;
}

.forecast-btns button {
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  padding-inline: 10px;
  border: none;
  background-color: wheat;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

.secondary-charts {
  display: flex;
  margin-bottom: 30px;
  gap: 18px;
}
