.forecast-item {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 10px;
}

.condition,
.weather {
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.weather {
  height: 30px;
  border-left: 2px solid rgb(160, 164, 164);
}
